<ion-header>
  <ion-toolbar>
    <ion-title>Edit Black Card</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="game-card black"> 
    <ion-card-content [innerHTML]="cardContent"> </ion-card-content>
  </ion-card>

  <ion-card class="game-card black"> 
    <ion-card-header>
      <ion-card-subtitle>Use 4 underscores for placeholder.</ion-card-subtitle>
      <ion-card-title>Edit Card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input (ionInput)="valueChange($event)" placeholder="Card Value here..." #inputString></ion-input>
      <ion-button expand="block" class="game-card-save-btn" color="light" (click)="save()">Save Card</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
